$orange:                 #d19a66;
$cyan:                   #56B6C2;
$blue:                   #61afef;
$purple:                 #c678dd;
$green:                  #98C379;
$red:                    #DF6A73;
$gray:                   #abb2bf;
$illegal-red:            #e05252;
$rust-green:             #56b6c2;
$interpolation-red:                #be5046;